// **********
// REACT COMPONENT
// **********


.WhereToFindMe
  &-email
    underlineFromLeft()
    margin: $spacer-regular 0
    a($accent-color)
    font-family: $headings-font-family
    font-size: $text-xl
