extends ../layout

append config
  - var metaDesc = 'Hi, I am Aalind, a front-end web developer, and a human being.'
  - var title = 'Aalind Singh: Developer'

block MainContent
  .loader
    .loader-dots
      span.loader-dot
      span.loader-dot
      span.loader-dot
  script.
    document.addEventListener("DOMContentLoaded", function() {
     var loader = document.querySelector('.loader')
     loader.remove()
    });
  #app
