// **********
// HERE WE'LL KEEP ALL OUR ANIMATIONS
// **********


/* Slide left
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes slideLeft
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0)

/* Slide up
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes slideUp
  0%
    opacity: 0
    transform: translateY(50%)
  100%
    opacity: 1
    transform: translateY(0)


/* Beating heart
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes beatingHeart
  50%
    transform: scale(1.01)
  75%
    transform: scale(0.99)


/* Beating heart-stronger
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes beatingHeartStronger
  50%
    transform: scale(1.02)
  75%
    transform: scale(0.97)


/* Landing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes landing
  0%
    opacity: 0
    transform: translateY(-100%)
  25%
    opacity: 0
    transform: translateY(-75%)
  100%
    opacity: 1
    transform: translateY(0)
