// **********
// REUSABLE UI ELEMENTS
// **********


/* Icon Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.IconBtn
  btn($accent-color, $white, $box-shadow: true)
  margin: $spacer-regular 0
  padding: $spacer-sm $spacer-xl
  border-radius: 2px
  &-icon
    width: 31px


/* Filter Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.FilterBtn
  margin-right: $spacer-regular
  padding: ($spacer-sm / 2) $spacer-sm
  border: 1Px solid $accent-color
  border-radius: 2px
  color: $greyDarken
  &:focus
    color: $accent-color
