// **********
// SETTINGS
// **********


/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

rupture.anti-overlap = true // to prevent neighbouring breakpoints from overlapping with each other => rupture package

mobile = 480px

tablet = 840px


/* Spacings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$spacer         = 16px

$spacer-sm      = $spacer / 2

$spacer-regular = $spacer

$spacer-md      = $spacer * 1.5

$spacer-lg      = $spacer * 2

$spacer-xl      = $spacer * 2.5


/* Transitions
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a
  transition: all 0.3s ease-in

button
  transition: all 0.3s ease

input, textarea, select
  transition: all 0.3s ease
